<div class="animal-types-picker">
  <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="checkboxes">
    <div class="govuk-form-group animals-selector">
      <fieldset class="govuk-fieldset">
      <!-- <label class="govuk-label--s" for="animal-types">
        Animals to be used
      </label> -->
      <span class="govuk-hint"></span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Small animals
          </span>
        </summary>
        <div class="govuk-details__text">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types" name="animal-types" type="checkbox" value="mice">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Mice
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-2" name="animal-types" type="checkbox" value="rats">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types-2">
                  Rats
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-3" name="animal-types" type="checkbox" value="guinea-pigs">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types-3">
                  Guinea pigs
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-5" name="animal-types" type="checkbox" value="hamsters" data-aria-controls="conditional-option-2">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types-5">
                  Hamsters
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-2">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which other hamsters will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-7" name="animal-types" type="checkbox" value="gerbils">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types-7">
                  Gerbils
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-4" name="animal-types" type="checkbox" value="other-rodents"  data-aria-controls="conditional-option-1">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types-4">
                  Other rodents
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-1">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which other rodents will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-8" name="animal-types" type="checkbox" value="rabbits">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types-8">
                  Rabbits
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-8a" name="animal-types" type="checkbox" value="rabbits">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types-8a">
                  Ferrets
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Large animals
          </span>
        </summary>
        <div class="govuk-details__text">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-9" name="animal-types" type="checkbox" value="cattle">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Cattle
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-10" name="animal-types" type="checkbox" value="sheep">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Sheep
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-11" name="animal-types" type="checkbox" value="goats">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Goats
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-12" name="animal-types" type="checkbox" value="pigs">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Pigs
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-13" name="animal-types" type="checkbox" value="minipigs">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Minipigs
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-14" name="animal-types" type="checkbox" value="camelids" data-aria-controls="conditional-option-3">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Camelids
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-3">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which camelids will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Fish, reptiles and aquatic species
          </span>
        </summary>
        <div class="govuk-details__text">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-15" name="animal-types" type="checkbox" value="reptiles"   data-aria-controls="conditional-option-4">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Reptiles
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-4">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which reptiles will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-16" name="animal-types" type="checkbox" value="xenopus-laevis">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Xenopus laevis
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-17" name="animal-types" type="checkbox" value="xenopus-tropicalis">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Xenopus tropicalis
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-18" name="animal-types" type="checkbox" value="other-amphibians" data-aria-controls="conditional-option-5">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Other amphibians
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-5">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which reptiles will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-19" name="animal-types" type="checkbox" value="zebra-fish">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Zebra fish
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-20" name="animal-types" type="checkbox" value="other-fish" data-aria-controls="conditional-option-6">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Other fish
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-6">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which other fish will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-21" name="animal-types" type="checkbox" value="cephalopods">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Cephalopods
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Birds
          </span>
        </summary>
        <div class="govuk-details__text">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-22" name="animal-types" type="checkbox" value="domestic-fowl" data-aria-controls="conditional-option-7">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Domestic fowl
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-7">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which domestic fowl will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-23" name="animal-types" type="checkbox" value="other-birds" data-aria-controls="conditional-option-8">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Other birds
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-8">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which other birds will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Cats, dogs and equidae
          </span>
        </summary>
        <div class="govuk-details__text">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-24" name="animal-types" type="checkbox" value="cats">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Cats
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-25" name="animal-types" type="checkbox" value="beagles">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Beagles
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-26" name="animal-types" type="checkbox" value="other-dogs" data-aria-controls="conditional-option-9">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Other dogs
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-9">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which other dogs will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-27" name="animal-types" type="checkbox" value="horses">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Horses
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-28" name="animal-types" type="checkbox" value="ponies">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Ponies
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-29" name="animal-types" type="checkbox" value="donkeys">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Donkeys
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-30" name="animal-types" type="checkbox" value="other-equidae" data-aria-controls="conditional-option-10">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Other equidae
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-10">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which other equidae will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Non-human primates
          </span>
        </summary>
        <div class="govuk-details__text">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-31" name="animal-types" type="checkbox" value="marmosets">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Marmosets
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-32" name="animal-types" type="checkbox" value="rhesus-macaques">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Rhesus macaques
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-33" name="animal-types" type="checkbox" value="cynomolgus-macaques">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Cynomolgus macaques
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="animal-types-34" name="animal-types" type="checkbox" value="other-nhps" data-aria-controls="conditional-option-11">
                <label class="govuk-label govuk-checkboxes__label" for="animal-types">
                  Other non human-primates
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-option-11">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Which other non-human primates will you be using?
                  </label>
                  <span class="govuk-hint"></span>
                  <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Other
          </span>
        </summary>
        <div class="govuk-details__text">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">
              Which other type of animal will you be using?
            </label>
            <span class="govuk-hint"></span>
            <input class="govuk-input" id="animal-types-other-1" name="animal-types-other" type="text">
          </fieldset>
        </div>
      </details>
    </div>
  </div>
</div>