
<div class="search-panel">
  <h2 class="govuk-heading-m">Search</h2>
  <p>
    <a href="search/establishments" class="">Establishments</a>
      | 
    <a href="search/people" class="">People</a>
      | 
    <a href="search/projects" class="">Projects</a>
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <div class="govuk-form-group search-box">
          <input type="text" class="govuk-input" id="filter-*" name="filter-*" value="" style="display: inline-block; width: 95%; margin-right: 0px">
          <button style="height: 40px; width: 40px;background-color: black;display: inline-block;position: absolute; border: solid 3px black;"><span class="hod-search side-space icon-small" style="color: white;"></span></button>
        </div>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="view-all-link">
        <span class="secondary-link"><a href="/search/establishments">View all establishments</a></span>
      </div>
    </div>
  </div>
</div>
