<div class="licence-status-banner expired">
  
  <span class='status expanded'>expired</span>
  <span class="float-right"><a href="#">Show less</a></span>
  
  <div class="status-details">
    <ul class="licence-dates">
      <li>Granted: <span class="date"> 02 July 2015</span></li>
      <li>Expiry: <span class="date">01 July 2020</span></li>
    </ul>
    <br>
    <p>
      This licence is not active. The licence holder or applicant is not authorised to carry out the programme of work as stated in this licence/application.
    </p>
  </div>
</div>