// Import Inter UI font
@import url('https://rsms.me/inter/inter-ui.css');

// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-font-family: 'Inter UI', sans-serif;
$govuk-typography-scale: (
  80: (
    null: (
      font-size: 53px,
      line-height: 55px
    ),
    tablet: (
      font-size: 80px,
      line-height: 80px
    ),
    print: (
      font-size: 53pt,
      line-height: 1.1
    )
  ),
  48: (
    null: (
      font-size: 32px,
      line-height: 1.3
    ),
    tablet: (
      font-size: 40px,
      line-height: 1.3
    ),
    print: (
      font-size: 32pt,
      line-height: 1.15
    )
  ),
  36: (
    null: (
      font-size: 24px,
      line-height: 1.3
    ),
    tablet: (
      font-size: 32px,
      line-height: 1.3
    ),
    print: (
      font-size: 24pt,
      line-height: 1.05
    )
  ),
  27: (
    null: (
      font-size: 18px,
      line-height: 20px
    ),
    tablet: (
      font-size: 27px,
      line-height: 30px
    ),
    print: (
      font-size: 18pt,
      line-height: 1.15
    )
  ),
  24: (
    null: (
      font-size: 18px,
      line-height: 1.3
    ),
    tablet: (
      font-size: 24px,
      line-height: 1.3
    ),
    print: (
      font-size: 18pt,
      line-height: 1.15
    )
  ),
  19: (
    null: (
      font-size: 15px,
      line-height: 1.35
    ),
    tablet: (
      font-size: 18px,
      line-height: 1.45
    ),
    print: (
      font-size: 14pt,
      line-height: 1.15
    )
  ),
  16: (
    null: (
      font-size: 14px,
      line-height: 16px
    ),
    tablet: (
      font-size: 16px,
      line-height: 20px
    ),
    print: (
      font-size: 14pt,
      line-height: 1.2
    )
  ),
  14: (
    null: (
      font-size: 12px,
      line-height: 15px
    ),
    tablet: (
      font-size: 14px,
      line-height: 20px
    ),
    print: (
      font-size: 12pt,
      line-height: 1.2
    )
  )
);


// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// HOME OFFICE STYLES

// Import header and footer
@import "patterns/ho-header";
@import "patterns/ho-footer";

// Colour pallette
$purple: #8F23B3;
$background-grey: #f3f3f3;
$dark-grey: #3B3B3B;

// Other styling
.ho-body {
  background-color: $background-grey;
  font-size: 18px;
}

footer {
  box-shadow: 0 50vh 0 50vh #FFF;
}

.float-right {
  float: right;
}

.pattern-header {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #b1b4b6;
}

// Badges

.badge {
  padding: 3px 6px;
  color: white;
  background: #6F777B;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;  
}
    .badge-complete {
      background-color: $govuk-brand-colour;
    }
    
    .badge-warning {
      background-color: $govuk-error-colour;
    }
    
    .badge-success {
      background-color: #00703c;
    }
    
    .badge-condition {
      background-color: #8F23B3;
    }
    .badge-changed {
      background: #ff1493;
    }
    
    .badge-comment {
      background: #26A197;
    }

// Comments

.comments-container{
  border-top: 3px solid #26A197;;
  border-bottom: 3px solid #26A197;;
}

.comment-box {
  border: 3px solid #26A197;
  padding: 7.5px 15px;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
  background-color: #fff;
  margin-right: 30px;
}
.comment-header {
  padding-top: 10px;
}

.comment-content {
  border-top: 3px solid #26A197;
  padding:7.5px 15px;
}

// Animal types picker

.animal-types-picker .govuk-details {
  margin-bottom: 0px;
}

// Application footer nav

.gem-c-pagination {
  display: block;
  margin: 50px 0;
}

.gem-c-pagination__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.gem-c-pagination__item:first-child {
}
.gem-c-pagination__item {
  font-size: 16px;
  line-height: 1.25;
  padding-bottom: 20px;

}
.gem-c-pagination__item {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  list-style: none;
}
.gem-c-pagination__item:hover {
  background-color: white;
}
.gem-c-pagination__link-title {
  display: block;
  border-top: 1px solid #b1b4b6;
  padding-top: 15px;
}
.gem-c-pagination__link {
text-decoration: none;
}
.gem-c-pagination__link-divider {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
.gem-c-pagination__link-label {
  display: inline-block;
  margin-top: .1em;
  text-decoration: underline;
  margin-left: 25px;
  font-size: 16px;
}
.gem-c-pagination__link-icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
  fill: #626a6e;
}
.gem-c-pagination__link-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  margin-left: 10px;
}

// APPROVED AREAS FILTER 


.app-c-option-select {
  background-color: #dee0e2;
  padding: 5px;
  margin-bottom: 30px;
}

.app-c-option-select.js-collapsible button {
  z-index: 100;
  position: relative;
  border: 0;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin-bottom: -1px;
  padding: 5px 8px;
  background-color: #dee0e2;
}

.app-c-option-select .option-select-label {
  font-size: 19px;
  line-height: 1.31579;
}

.app-c-option-select .option-select-label {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 40px;
  font-weight: bold;
  padding-top: 5px;
}

.option-select-label:after {
content: "\25ba";
}
.js-container-head .option-select-label:after {
position: absolute;
right: 15px;
}

.options-container--hod {
  max-height: 200px;
}

.options-container--hod {
  position: relative;
  background-color: #f3f3f3;
  overflow-y: auto;
  overflow-x: hidden;
  border: 5px solid #dee0e2;
  padding-left: 10px;
}

.options-container--hod {
  position: relative;
  background-color: #f3f3f3;
  overflow-y: auto;
  overflow-x: hidden;
  border: 5px solid #dee0e2;
}

// Assessment complete

.protocol-header-in-progress {
  background-color: #dadada;
  padding: 30px;
  .row-toggle{
    color: #005EA5;
  }
  a {
    text-decoration: none;
  }
  .edit-link {
    font-weight: normal;
    font-size: 18px;
  }
  .badge {
    // font-size: 16px;
    // background-color: #ffbf47;
    // color: black;
  }
  .removed {
    color: grey;  
  }
}

// Assessment header


.download-header {
  background-color: white;
  border-bottom: 4px solid #005ea5;
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
}

.licence-identifier {
  margin-bottom: 0px;
  font-size: 24px;
}

.licence-type {
  display: block;
  margin-bottom: 0px;
  sfont-size: 18px;
}
.download-options {
  border-left: 1px solid #dadada;
  padding: 15px 0 15px 15px;
}

.icon-small{
  margin-right: 0px; 
  color: #005ea5;
}

// See whats changed highlights
.highlight.removed {
  text-decoration: line-through;
  border-bottom: 3px solid #ff4747;
  background-color: #ffd3d3;
}
.highlight.added {
  border-bottom: 3px solid #47ff47;
  background-color: #d3ffd3;
  padding-left: 15px;
}


// NTS panel

.declaration-panel-yellow {
  padding: 30px 30px 15px 30px;
  background-color: #ffbf47;
  margin-bottom: 2em;
}

.protocol-nav {
  background: #fff;
  user-select: none;  
  list-style-type: none;
  padding-left: 0px;
  li {
    padding: 15px;
    border-top: 1px solid #bfc1c3;
  }
  .back-to-sections li  {
    background-color: black;
    color: white;
    content: '';
  }

 .back-to-sections:after {
    content:"";
  }

  .selected {
    background-color: #005ea5;
    color: white;
  }
  .selected:after {
    // content: '\25BC';
  }
  .selected-child {
    font-weight: normal;
    text-decoration: underline;
  }
  .selected-child:after {
    content: '';
  }
  a {
      text-decoration: none;
      font-weight: bold;
  }
}

.selected .float-right{
  visibility: hidden;
  }    
.selected .float-right:after{
  content:'▼';
  visibility: visible;
  }  

// Toaster message

#toaster {
  overflow: hidden;
  background-color: #0a6337;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
  padding: 15px;
  transition: all 0.5s linear;
}

#toaster .govuk-body {  
  font-size: 19px;
  font-weight: bold;
  color: white;
}
.toasterHide {  
  display: none;
  opacity: 0;
}

// Licence status banner

.licence-status-banner {
  font-family: $govuk-font-family;
  overflow: auto;
  margin-bottom: 30px;
  padding: 8px 15px;
  background-color: #6f777b;
  color: #fff;
  font-size: 16px;
}

  .licence-status-banner p{
    color: #fff;
    font-size: 16px;
  }
  .licence-status-banner hr{
    border-bottom: 1px solid white;

  }
  
  .licence-status-banner a{
    color: #fff;
    font-size: 16px;
  }

  .licence-status-banner .status {
    font-weight: bold;
    text-transform: uppercase;
  }

  .licence-status-banner .status.expanded:before {
    content: '▼\00a0';
    width: 1.5em;
    display: inline-block;
  }

  .licence-status-banner .status.collapsed:before {
    content: '\25BA';
    width: 1.5em;
    display: inline-block;
  }

  .licence-status-banner .status-details {
    border-top: 1px solid #fff;
    margin-left: 22px;
    margin-top: 6px;
    padding-top: 10px;
  }

  .expired {
    background-color: #b10e1e; 
  }
  .revoked {
    background-color: #b10e1e; 
  }

  .licence-status-banner ul.licence-dates {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .licence-status-banner ul.licence-dates li {
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
  }

  .date {
    font-weight: normal;
    padding-left: 5px;
  }

  // TYPEAHEAD

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-family: inherit;
}

.autocomplete-items div {
  font-family: "Inter UI", sans-serif;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover, .autocomplete-items div:active {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #e9e9e9 !important; 
}

// PHASE BANNER

.govuk-phase-banner-badge {
  
  color: #fff;
  border-bottom: 0;
  width: 100%;
  padding: 10px 0 8px;
  .govuk-width-container {
  max-width: 1200px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
  }
  a:visited {
    color: #005ea5;
  }
  .govuk-phase-banner__content {
    color: black;
  }
}
