
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% set toasterContent = 'Example toaster message content' %}
{% include "includes/toaster.html" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Example of the toaster message
        <span class="govuk-caption-xl"></span>
      </h1>

      <p><a href="/">Back to patterns list</a></p>
      
      
    </div>
</div>

{% endblock %}
